@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #5f6FFF;
    --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}

::-webkit-scrollbar{
  @apply hidden;
}

/* * {
  font-family: 'Outfit';
} */